   h1 {
    text-align: center;
    font-size: 55px;
    color:#c98f4d;
}
div {
  text-align: center;
  margin: 0px auto;
  text-align: center;
  margin: auto;
}
body {
    background-color: #3981c9;
}

.cell {
  width:85px;
  height:85px;
  border: 5px solid #686267;
  background: #FFFFFF;
  font-size: 30pt;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  margin: auto;

}

.cell:hover {
  background: #f198c2;
  text-align: center;
}